@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#title {
    color: #5f021f;
    font-family: 'Pacifico', cursive;
}

.comp {
    width: 100%;
}

.comp img {
    width: 100%;
    border-radius: 8px;
}

body {
    font-family: 'Neucha', cursive;
}

#num {
    color: #5f021f;
}